* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
}

h1 {
	font-family: $Roboto-Slab;
	font-style: normal;
	font-weight: normal;
	color: $background-color;
	text-align: center;
	margin: 2rem 0 1rem;
}

h2,
h3 {
	text-transform: uppercase;
}

h2 {
	@include px-to-rem(26);
	font-weight: bold;
	margin: 2rem 0;
	text-align: center;

	@include screen("tablet") {
		margin: 1.5rem 1rem;

	}

	@include screen("mobile") {
		margin: 1rem;
	}
}

p {
	line-height: 150%;
}

li {
	letter-spacing: 0.5px;
}

button {
	text-transform: uppercase;
}

body {
	box-sizing: border-box;
	font-family: $Roboto;
	letter-spacing: 0.5px;
	font-weight: 0.5px;
	font-style: normal;
	color: $text-color;
	background-color: $background-color;
}

div {
	height: 100%;
}

header {
	margin-bottom: 2rem;

	@include screen('mobile') {
		margin-bottom: 0;
	}
}

main {
	display: block;
	width: 100%;
	min-height: 100%;
	margin: 0 0 5rem;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

section {
	display: block;
	margin: 0 auto;
}

footer {
	height: 20vh;
	background-color: $text-color;
	margin-top: -50px;
}

input[type=search] {
	padding-left: 40px;
	border-radius: 0;
	border-style: none;
}

button {
	font-family: $Roboto;
}

button,
input,
optgroup,
select,
textarea {
	line-height: 1.15;
	margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}